h1 {color: rgb(99, 91, 91); text-align: center;}
h3 {color: rgb(99, 91, 91); text-align: center;}

body {background-image: url("https://static.vecteezy.com/system/resources/previews/002/058/254/large_2x/abstract-white-background-free-vector.jpg");}
